<div class="container">
    <div class="row">
        <div class="head-wrap  text-center col-sm-12" id="header">
            <h1>BURGERS!</h1>
        </div>
    </div>


    <div class="row no gutters" id="burgers">
        <div class="col-sm-6 text-center" id="left">
            <h2>Ready to Eat</h2>
            <ol>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burgerBlock devoured=true}}
                {{/unless}}
                {{/each}}
            </ol>
        </div>
        <div class="col-sm-6 text-center" id="right">
            <h2>Devoured</h2>
            <ol>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burgerBlock devoured=false}}
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>


    <div class="row">
        <div class="add-wrap text-center col-sm-12" id="form">

            <h2>Add a Burger</h2>

            <form class="create-form">

                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <input type="text" id="ca" name="name">
                </div>

                <button type="submit">Add Burger</button>
            </form>

        </div>
    </div>
</div>